/* BACKGROUND */

.background {
	background-image: url('../img/login-bg.jpg');
}
.background,
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-fluid {
    margin-top: 75px;
}