a.dropdown-item:hover {
    color: black !important;
}

.background {
	background-image: url('../img/login-bg.jpg');
}
.background,
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.jumbotron {
    position: relative;
}

#loading {
	position: absolute;
	display: block;
	left: 50%;
	top: 50%
	background: url(../img/lg.double-ring.spinner.gif) no-repeat center center;
	z-index: 999;
}
